.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.app input {
  width: 40%;
  height: 40px;
  margin-bottom: 20px;
}

.app h1 {
  margin-bottom: 40px;
}

.app h2 {
  margin-top: 40px;
}

.app button {
  background: none;
  width: 40%;
  height: 50px;
}